<!-- 1st row -->

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 py-2">
        <div class="border bg-white rounded-lg p-2">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="mr-auto">
                    <h5>Smart Asset Management</h5>
                </div>
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- select boxes battery list -->
            <div class="row p-0">
                <div class="col-lg-9 col-xl-9 px-0 border-right">
                    <!-- select boxes -->
                    <div class="col-lg-12 col-xl-12 px-0 d-flex flex-wrap ">
                        <div class="col-xl-3 py-2">
                            <!-- country -->
                            <select name="country" id="country" class="form-control">
                                <option value="">select country</option>
                            </select>
                        </div>
                        <div class="col-xl-3 py-2">
                            <!-- country -->
                            <select name="state" id="state" class="form-control">
                                <option value="">select state</option>
                            </select>
                        </div>
                        <div class="col-xl-3 py-2">
                            <!-- country -->
                            <select name="city" id="city" class="form-control">
                                <option value="">select city</option>
                            </select>
                        </div>
                        <div class="col-xl-3 py-2">
                            <!-- country -->
                            <select name="site" id="site" class="form-control">
                                <option value="">select site</option>
                            </select>
                        </div>
                    </div>
                    <!-- battery list -->
                    <!-- 1 -->
                    <div class="col-lg-12 col-xl-12 d-flex flex-wrap my-2">
                        <div class="d-flex flex-wrap bg-light battery-list col-3 py-2 border-radius-left">
                            <img src="assets/Images/dristia_logo_icon.png" alt="icon" class="align-self-center"
                                width="13" height="13" style="margin: 0px 7px;">
                            <span class="font-weight-bold">LI Battery</span>
                        </div>
                        <div class="d-flex m-0 bg-light battery-list col-6 py-2">
                            <span class="map-marker align-self-center"><i class="fas fa-map-marker-alt"></i></span>
                            <span>- Benz Circle, Vijayawada, Andhra Pradesh, India</span>
                        </div>
                        <div class="row m-0 bg-light battery-list col-3 py-2 border-radius-right">
                            <span class="align-items-center text-success mr-2"><i class="fas fa-circle"></i></span>
                            <span>Good</span>
                            <span class="ml-auto" style="color: #bdbdbd;"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-lg-12 col-xl-12 d-flex flex-wrap my-2">
                        <div class="d-flex flex-wrap bg-light battery-list col-3 py-2 border-radius-left">
                            <img src="assets/Images/dristia_logo_icon.png" alt="icon" class="align-self-center"
                                width="13" height="13" style="margin: 0px 7px;">
                            <span class="font-weight-bold">LI Battery</span>
                        </div>
                        <div class="d-flex m-0 bg-light battery-list col-6 py-2">
                            <span class="map-marker align-self-center"><i class="fas fa-map-marker-alt"></i></span>
                            <span>- Benz Circle, Vijayawada, Andhra Pradesh, India</span>
                        </div>
                        <div class="row m-0 bg-light battery-list col-3 py-2 border-radius-right">
                            <span class="align-items-center text-success mr-2"><i class="fas fa-circle"></i></span>
                            <span>Good</span>
                            <span class="ml-auto" style="color: #bdbdbd;"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="col-lg-12 col-xl-12 d-flex flex-wrap my-2">
                        <div class="d-flex flex-wrap bg-light battery-list col-3 py-2 border-radius-left">
                            <img src="assets/Images/dristia_logo_icon.png" alt="icon" class="align-self-center"
                                width="13" height="13" style="margin: 0px 7px;">
                            <span class="font-weight-bold">LI Battery</span>
                        </div>
                        <div class="d-flex m-0 bg-light battery-list col-6 py-2">
                            <span class="map-marker align-self-center"><i class="fas fa-map-marker-alt"></i></span>
                            <span>- Benz Circle, Vijayawada, Andhra Pradesh, India</span>
                        </div>
                        <div class="row m-0 bg-light battery-list col-3 py-2 border-radius-right">
                            <span class="align-items-center text-success mr-2"><i class="fas fa-circle"></i></span>
                            <span>Good</span>
                            <span class="ml-auto" style="color: #bdbdbd;"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="col-lg-12 col-xl-12 d-flex flex-wrap my-2">
                        <div class="d-flex flex-wrap bg-light battery-list col-3 py-2 border-radius-left">
                            <img src="assets/Images/dristia_logo_icon.png" alt="icon" class="align-self-center"
                                width="13" height="13" style="margin: 0px 7px;">
                            <span class="font-weight-bold">LI Battery</span>
                        </div>
                        <div class="d-flex m-0 bg-light battery-list col-6 py-2">
                            <span class="map-marker align-self-center"><i class="fas fa-map-marker-alt"></i></span>
                            <span>- Benz Circle, Vijayawada, Andhra Pradesh, India</span>
                        </div>
                        <div class="row m-0 bg-light battery-list col-3 py-2 border-radius-right">
                            <span class="align-items-center text-success mr-2"><i class="fas fa-circle"></i></span>
                            <span>Good</span>
                            <span class="ml-auto" style="color: #bdbdbd;"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                    <!-- 5 -->
                    <div class="col-lg-12 col-xl-12 d-flex flex-wrap my-2">
                        <div class="d-flex flex-wrap bg-light battery-list col-3 py-2 border-radius-left">
                            <img src="assets/Images/dristia_logo_icon.png" alt="icon" class="align-self-center"
                                width="13" height="13" style="margin: 0px 7px;">
                            <span class="font-weight-bold">LI Battery</span>
                        </div>
                        <div class="d-flex m-0 bg-light battery-list col-6 py-2">
                            <span class="map-marker align-self-center"><i class="fas fa-map-marker-alt"></i></span>
                            <span>- Benz Circle, Vijayawada, Andhra Pradesh, India</span>
                        </div>
                        <div class="row m-0 bg-light battery-list col-3 py-2 border-radius-right">
                            <span class="align-items-center text-success mr-2"><i class="fas fa-circle"></i></span>
                            <span>Good</span>
                            <span class="ml-auto" style="color: #bdbdbd;"><i class="fas fa-chevron-right"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3">
                    <h6>Rushi Konda - Vishakapatnam</h6>
                    <div class="d-flex flex-wrap mt-5">
                        <div>
                            <p class="mb-1 battery-details">State-of-Charge (SoC)</p>
                            <span class="battery-num">45% </span>
                        </div>
                        <div class="ml-auto">
                            <img src="assets/Images/dashB-battery.png" alt="" class="w-75">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mt-5">
                        <div>
                            <p class="mb-1 battery-details">Total Capacity</p>
                            <span class="battery-num">500AH</span>
                        </div>
                        <div class="ml-auto">
                            <p class="mb-1 battery-details">Available Capacity </p>
                            <span class="battery-num">430AH</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- garph -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="mr-auto">
                    <h5>Battery Statistics</h5>
                </div>
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- graph -->
            <div class="text-center p-2">
                <img src="assets/Images/dashB-graph.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- 2nd row -->
<div class="row">
    <!-- 1st column -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- total available capacity -->
            <div class="row m-0">
                <div class="d-flex flex-wrap">
                    <div class="col-8 p-2">
                        <span class="battery-details-2">Total Available Capacity</span> <br>
                        <strong>430AH</strong>
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" src="assets/Images/capacity.png" alt="Available capacity">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd column -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- state of charegs -->
            <div class="row m-0">
                <div class="d-flex flex-wrap">
                    <div class="col-8 p-2">
                        <span class="battery-details-2">State of Health</span> <br>
                        <strong>48%</strong>
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" src="assets/Images/soh.png" alt="" width="200">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd column -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- Power consumption -->
            <div class="row m-0">
                <div class="d-flex flex-wrap">
                    <div class="col-8 p-2">
                        <span class="battery-details-2">Power Consumtion (Kwh)</span> <br>
                        <strong>42.56B</strong>
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" src="assets/Images/power.png" alt="Power">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4th column -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- Temparature -->
            <div class="d-flex">
                <div class="col-8 p-2">
                    <span class="battery-details-2">Temparature</span> <br>
                    <strong>30°C</strong>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="assets/Images/temprature.png" alt="Power">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 3rd row -->
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="mr-auto">
                    <h5>State-of-Health</h5>
                </div>
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- state of health -->
            <div class="d-flex">
                <div class="bg-white col-3">
                    <p class="text-center"><img class="img-fluid" src="assets/Images/circle1.png" alt="Power">86%
                    </p>
                    <span class="d-flex justify-content-center health">Benz Circle</span>
                </div>
                <div class="col-3">
                    <p class="text-center"><img class="img-fluid" src="assets/Images/circle2.png" alt="Power">50%
                    </p>
                    <span class="d-flex justify-content-center health">Leela Mahal Circle</span>
                </div>
                <div class="col-3">
                    <p class="text-center"><img class="img-fluid" src="assets/Images/circle3.png" alt="Power">50%
                    </p>
                    <span class="d-flex justify-content-center health">Gachibowli</span>
                </div>
                <div class="col-3">
                    <p class="text-center"><img class="img-fluid" src="assets/Images/circle2.png" alt="Power">50%
                    </p>
                    <span class="d-flex justify-content-center health">Rushi Konda</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
        <div class="border bg-white rounded-lg p-2 h-100">
            <!-- header -->
            <div class="d-flex p-0 m-0">
                <div class="mr-auto">
                    <h5>Consumption By Sites</h5>
                </div>
                <div class="ml-auto">
                    <span style="color: #bdbdbd;cursor: pointer;"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <!-- Consumption by sites -->
            <div class="d-flex">
                <div class="col-4 py-5">
                    <strong>48.00B</strong> <br>
                    <span class="consumption">Total Consumption (kWh)</span>
                </div>
                <div class="col-8">

                </div>


            </div>

        </div>
    </div>
</div>