<!-- Component Title -->
<!-- <h5 class="form-header">create User</h5>
<hr class="mx-2"> -->


<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <h5 class="form-header">Edit User</h5>
  </div>
</div>

<hr>
<!-- Form Starts -->
<form class="" [formGroup]="userForm" (ngSubmit)="editUser()">

  <!-- 1st row -->
  <div class="form-row">

    <!-- First Name -->
    <div class="form-group col-md-4">

      <!-- label -->
      <span class="has-float-label" for="firstName">
        <!-- Input Control -->
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"
          autocomplete="off" maxlength="{{validation.firstName.maxLength}}">
        <label>{{validation.firstName.label}}</label>
      </span>
    </div>

    <!-- Last Name -->
    <div class="form-group col-md-4">

      <!-- label -->
      <span class="has-float-label">
        <!-- Input Control -->
        <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName"
          autocomplete="off" maxlength="{{validation.lastName.maxlength}}">
        <label>{{validation.lastName.label}}</label>
      </span>
    </div>

    <!-- phone number -->
    <div class="form-group col-md-4">
      <span class="has-float-label">
        <!-- Input Control -->
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
          autocomplete="off" appNumbersOnly maxlength="{{validation.phoneNumber.maxLength}}">
        <!-- label -->
        <label for="phoneNumber">{{validation.phoneNumber.label}}</label>
      </span>
    </div>

  </div>


  <!-- 2nd row -->
  <div class="form-row">

    <!-- Country Selection -->
    <div class="form-group col-md-4 select">
      <span class="form-group has-float-label mb-0">
        <!-- Dropdown -->
        <select id="country" name="country" class="form-control text-center" formControlName="country"
          (change)="Filter($event.target.value)">
          <option value="">Select Country</option>
          <option *ngFor="let country of countries" [value]="country.name" class="form-control-sm">
            {{country.name}}
          </option>
        </select>
        <label>{{validation.country.label}}</label>
      </span>


    </div>

    <!-- State Selection -->
    <div class="form-group col-md-4">

      <span class="has-float-label mb-0">
        <!-- Dropdown -->
        <select id="state" name="state" class="form-control text-center" formControlName="state"
          (change)="selectedState($event.target.value)">
          <option value="">Select State</option>
          <option *ngFor="let state of states" [value]="state.name" class="form-control-sm">
            {{state.name}}
          </option>
        </select>

        <!-- label -->
        <label for="state">{{validation.state.label}}</label>
      </span>
    </div>

    <div class="form-group col-md-4">
      <span class="has-float-label">

        <!-- Dropdown -->
        <select id="city" name="city" class="form-control text-center" formControlName="city">
          <option value="">Select City</option>
          <option *ngFor="let city of cities" [value]="city.name" class="form-control-sm">
            {{city.name}}
          </option>
        </select>

        <!-- label -->
        <label for="city">{{validation.city.label}}</label>
      </span>
    </div>

  </div>

  <!-- 4th row -->
  <div class="form-row">

    <!-- Role Selection -->
    <div class="form-group col-md-4">

      <span class="has-float-label">
        <!-- dropdown -->
        <select id="role" name="role" class="form-control text-center" formControlName="role"
          (change)="selectedRolename($event.target.value);">
          <option value="">Select Role</option>
          <option *ngFor="let role of roles" [value]="role.name" class="form-control-sm">
            {{role.name}}
          </option>
        </select>

        <!-- label -->
        <label for="role">{{validation.role.label}}</label>
      </span>
    </div>


  </div>
  <!-- 5th row -->
  <!-- assetAccess Selection -->

  <h5 class="form-header">Asset Type</h5>
  <hr>
  <div class="form-group row">
    <!-- Input Checkbox Control -->
    <div class="d-flex">
      <div class="custom-control custom-checkbox mr-2" formArrayName="form_assetsList"
        *ngFor="let asset of userForm.controls.form_assetsList?.value;let i = index;">
        <input class="custom-control-input" type="checkbox" id="{{asset.assetCategoryId}}" [checked]="asset.checked"
          (change)="onCheckboxCategoryChange($event,i)">
        <label class="custom-control-label" for="{{asset.assetCategoryId}}">{{asset.categoryName}}</label>
      </div>
    </div>
  </div>

  <!-- 6th row -->

  <h5 class="form-header">User Permissions</h5>
  <hr class="mx-2 my-1">
  <div class="form-group row">


    <!-- Input Checkbox Control -->
    <div class="col-10 d-flex">

      <div class="col-6">
        <h5 class="permissions-head">Read Permissions</h5>

        <!-- read -->
        <div class="custom-control custom-checkbox" formArrayName="readPermissions"
          *ngFor="let read_Per of userForm.controls.readPermissions?.value; let i=index">
          <input type="checkbox" class="custom-control-input" id="{{read_Per.id}}" [checked]="read_Per.checked"
            (change)="onCheckboxChangeRead($event,i)">
          <label class="custom-control-label" for="{{read_Per.id}}">{{read_Per.name}}</label>
        </div>

      </div>

      <div class="col-6">
        <h5 class="permissions-head">Wirte Permissions</h5>
        <!-- write -->
        <div class="custom-control custom-checkbox" formArrayName="writePermissions"
          *ngFor="let write_per of userForm.controls.writePermissions?.value; let i=index">
          <input type="checkbox" class="custom-control-input" id="{{write_per.id}}" [checked]="write_per.checked"
            (change)="onCheckboxChangeWrite($event,i)">
          <label class="custom-control-label" for="{{write_per.id}}">{{write_per.name}}</label>
        </div>
      </div>

    </div>
  </div>

  <!-- Submit Button -->
  <div class="d-flex justify-content-start mb-2">
    <button type="submit" class="btn btn-primary btn-sm float-right">Update</button>
  </div>

</form>

<!-- Form Ends -->