<div class="footer">

    <div class="mx-5">

        <div class="container-fluid py-5">

            <div class="row px-5">

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
                    <h6 class="font-weight-bold">About Us</h6>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dol</p>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
                    <h6 class="font-weight-bold">Quick Links</h6>
                    <hr>
                    <li><a class="disable">About US</a></li>
                    <li><a class="disable">Contact Us</a></li>
                    <li><a class="disable">Blog</a></li>

                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
                    <h6 class="font-weight-bold">Recent Posts</h6>
                    <hr>
                    <p>Ready for bigdata with TwinCAT</p>
                    <p>Mechanical Engineerning ME</p>
                    <p>Artificial Intellegence</p>>

                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 res-align">
                    <h6 class="font-weight-bold">Social Sharing</h6>
                    <div class="icons">
                        <a class="disable" class="mr-3">
                            <img src="../assets/Images/youtube-footer.svg" width="25" height="25" alt="Youtube">
                        </a>
                        <a class="disable" class="mr-3">
                            <img src="../assets/Images/twitter-footer.svg" width="25" height="25" alt="Twitter">
                        </a>
                        <a class="disable" class="mr-3">
                            <img src="../assets/Images/facebook-footer.svg" width="25" height="25"
                                style="background: #fff;" alt="Facebook">
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="container-fluid">
            <div class="px-lg-5">
                <hr>
            </div>
        </div>

        <div class="container-fluid py-4">
            <div class="text-center btmfooter">
                © Copyright DRISTIA INC.. All right reserved.
            </div>
        </div>

    </div>
</div>