<footer class="footer">
  <div class="container-fluid">

    <div class="row">
      <!-- About Us -->
      <div class="col-md-3 py-2">
        <h3 class="footer-title">About Us</h3>
        <hr class="f-boreder mx-0">
        <div class="f-aboutUs-content">Dristia is a young start-up powered by an experienced team with years of
          experience working with many manufacturing industries across the globe.
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-md-3 py-2">
        <h3 class="footer-title">Quick Links</h3>
        <hr class="f-boreder mx-0">
        <div class="f-quick-links">
          <a href="" class="m-0 text-decoration-none d-flex">About Us</a>
          <a href="" class="m-0 text-decoration-none d-flex">Contant Us</a>
          <a href="" class="m-0 text-decoration-none d-flex">Blog</a>
        </div>
      </div>

      <!-- Recent Posts -->
      <div class="col-md-3 py-2">
        <h3 class="footer-title">Recent Posts</h3>
        <hr class="f-boreder mx-0">
        <div class="f-recent">
          <a href="" class="m-0 text-decoration-none d-flex">Ready for bigdata with TwinCAT</a>
          <a href="" class="m-0 text-decoration-none d-flex">Mechanical Engineerning ME</a>
          <a href="" class="m-0 text-decoration-none d-flex">Artificial Intellegence</a>
        </div>
      </div>

      <!-- Locations -->
      <div class="col-md-3 py-2">
        <h3 class="footer-title">Locations</h3>
        <hr class="f-boreder mx-0">
        <div class="f-Locations">
          <a href="" class="m-0 text-decoration-none d-flex">Seattle, USA</a>
          <a href="" class="m-0 text-decoration-none d-flex">Hyderabad, India</a>
          <a href="" class="m-0 text-decoration-none d-flex">Bengaluru, India</a>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 py-2">
        <div class="float-left">
          <span id="Copyright">© Copyright DRISTIA INC.. All right reserved.</span>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 py-2">
        <div class="float-right">
          <span class="footer-icons"><i class="fab fa-facebook-f"></i></span>
          <span class="footer-icons"><i class="fab fa-twitter"></i></span>
          <span class="footer-icons"><i class="fab fa-linkedin-in"></i></span>
        </div>
      </div>

    </div>

  </div>
</footer>
