<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid p-0">

    <!-- <button type="button" id="sidebarCollapse" class="sidebarButton pl-0" (click)="showSideBar()">
      <span><i class="fas fa-bars fa-lg"></i></span>
    </button> -->
    <div>
      <a class="navbar-brand mr-5" [routerLink]="['/']" routerLinkActive="active">
        <img src="assets/Images/logo.png" height="35" alt="Drista logo">
      </a>
    </div>
    <div>
      <h5 class="navbarTitle mb-0">Smart Battery Management System</h5>
      <h5 id="navbarTitleSmall" class="mb-0">SBMS</h5>
    </div>
    <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-align-justify"></i>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          
        </li>
      </ul>
    </div> -->
    <div class="ml-auto d-flex">

      <div class="mr-2">
        <span style="color: #dbdbdb;"> <i class="fas fa-cog"></i> </span>
      </div>

      <div class="mr-2">
        <span style="color: #dbdbdb;"> <i class="fas fa-globe"></i> </span>
      </div>

      <div class="btn-group">
        <!-- <span *ngIf="userName" class="text-capitalize mr-2">{{userName}}</span> -->
        <span style="color: #bdbdbd;cursor: pointer;" data-toggle="dropdown" data-display="static" aria-haspopup="true"
          aria-expanded="false"><i class="fas fa-user"></i></span>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button" (click)="logout()"><span class="mr-2"><i
                class="fas fa-sign-out-alt"></i></span>Logout</button>
        </div>
      </div>
    </div>

  </div>
</nav>

<!-- second Navbar -->
<div class="container-fluid bg-light-sub">
  <div>
    <div class="row mx-5 py-3 px-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-2">
        <span class="user">Administrator </span>
        <span class="symbol"> > </span>
        <span class="uName">A Reddy</span>
      </div>
    </div>

  </div>
</div>