<!-- Form Starts -->
<form [formGroup]="permissionEdit" (ngSubmit)="editPermissions()">

  <!-- 1st Row -->
  <div class="form-group row">

    <!-- Label -->
    <div class="col-3">
      <label for="name" class="col-form-label">{{this.validations.name.label}}</label>
    </div>

    <!-- Input Control -->
    <div class="col-9">
      <input type="text" class="form-control" id="permissionName" formControlName="name"
        placeholder="{{this.validations.name.label}}" autocomplete="off" maxlength={{this.validations.name.maxLength}}>

      <!-- Error Messages -->
      <div *ngIf="f.name.invalid && f.name.touched" class="text-danger">
        <div *ngIf="f.name.errors?.required">
          <small>{{this.validations.name.err_msg_required}}</small>
        </div>
        <div *ngIf="f.name.errors?.minlength">
          <small>{{this.validations.name.err_msg_minLength}}</small>
        </div>
      </div>
    </div>

  </div>

  <!-- 2nd Row -->
  <div class="form-group row">

    <!-- Label -->
    <div class="col-3">
      <label for="description" class="col-form-label">{{this.validations.description.label}}</label>
    </div>

    <!-- Textarea Control -->
    <div class="col-9">
      <textarea name="description" id="description" class="form-control" cols="30" rows="5"
        formControlName="description" placeholder="{{this.validations.description.label}}" autocomplete="off"
        maxlength={{this.validations.description.maxLength}}>
      </textarea>

      <!-- Error Messages -->
      <div *ngIf="f.description.invalid && f.description.touched" class="text-danger">
        <div *ngIf="f.description.errors?.required">
          <small>{{this.validations.description.err_msg_required}}</small>
        </div>
        <div *ngIf="f.description.errors?.minlength">
          <small>{{this.validations.description.err_msg_minLength}}</small>
        </div>
      </div>

    </div>
  </div>

  <!-- 3rd row  -->
  <div class="form-group row">

    <!-- Label -->
    <div class="col-3">
      <label for="description" class="col-form-label">{{this.validations.permissionAccess.label}}</label>
    </div>

    <!-- Radio button Control -->
    <div class="col-9 d-flex">

      <!-- read -->
      <div class="custom-control custom-radio mr-2">
        <input type="radio" id="read" name="permissionAccess" class="custom-control-input"
          formControlName="permissionAccess" value="READ">
        <label class="custom-control-label text-capitalize" for="read">Read</label>
      </div>

      <!-- write -->
      <div class="custom-control custom-radio">
        <input type="radio" id="write" name="permissionAccess" class="custom-control-input"
          formControlName="permissionAccess" value="WRITE">
        <label class="custom-control-label text-capitalize" for="write">Write</label>
      </div>

    </div>
  </div>

  <!-- Submit Button -->
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-sm text-capitalize" [disabled]="loading">
      <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
      update
    </button>
  </div>

</form>

<!-- Form Ends -->
