.bg {
    background-image: url(/assets/img/sign_In_bg.jpg);
    background-color: black;
    background-size: cover;
    max-width: 100vw;
    min-height: 100vh;
}

.bgcolor {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
}

small {
    margin-left: 20px;
}