.info {
  color: #1D1D56;
  font-weight: 700;
  position: absolute;

}


.form-inline.form-group {
  background-color: #F8F8F9;
  color: black;
  border: none;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
}

.searchbox {
  float: right;

}

.searchTerm {
  font-size: 12px;
  box-shadow: none;
  color: #FFF;

}

.btn-add {
  background-color: #4BD35E;
  color: #FFF;
  font-size: 14px;
  border-radius: 3px;
  padding: 12px 12px;
  font-weight: 500;
  border: none
}

.p-2{
  color: #BBB;
  ;
}
