.wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

#content {
    width: calc(100% - var(--sideBar-width));
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.height {
    min-height: calc(100vh - var(--navBar-height));
}

