/* .wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

#content {
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
} */

.inner-content {
    min-height: calc(65vh - var(--navBar-height));
    margin: 0% 8%;
}



