/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar-brand {
  padding: 9px;
  display: flex;
  align-items: center;
}

.sidebar-brand>a {
  flex-grow: 1;
}

hr {
  margin-top: 0.4rem !important;
}

.sidebar-header .user-pic {
  height: 96px;
  width: 87px;
}

.sidebar-header .user-name {
  color: #333;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.sidebar-header .user-info {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.user-info .text {
  color: #bdbdbd;
}

.user-info .user-role {
  color: #FA9917;
}

#sidebar {
  color: #fff;
  transition: all 0.3s;
  overflow-y: hidden;
}

#sidebar:hover {
  overflow-y: overlay;
}

#sidebar::-webkit-scrollbar {
  width: 10px;
  overflow-y: visible;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
  background: var(--sideBar-list-bg);
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 125, 125);
}

#sidebar.active {
  margin-left: calc(var(--sideBar-width) + (-2 * var(--sideBar-width)));
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

.components {
  --li-bg-a: #E0E0E0;
}

#sidebar ul.components li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #4F4F4F;
  font-size: 16px;
  line-height: 39px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.components>li {
  border-radius: 5px;
  background-color: var(--li-bg-a);
}

.components>li>ul {
  background-color: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
}

#sidebar ul li a.active {
  color: #000;
  font-weight: 700;
}

#sidebar ul li a:hover {
  color: #4F4F4F;
  border-radius: 5px;
  background: #E0E0E0;
}

a {
  color: var(--sideBar-list-color);
}

a[aria-expanded="true"] {
  color: #333;
  font-weight: 900;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  position: absolute;
  top: 35%;
  right: 20px;
  border: 3px solid #000 !important;
  display: inline-block !important;
  border-width: 0 1px 1px 0 !important;
  padding: 5px !important;
}

.dropdown-toggle[aria-expanded=false]::after {
  transition: all .2s ease-in-out;
  transform: rotate(-45deg);
}

.dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(45deg);
  transition: all .2s ease-in-out;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.article,
a.article:hover {
  background: var(--sideBar-list-bg);
  color: var(--sideBar-list-color) !important;
}
